@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-blue: #040c24;
  --primary-black: #080e1b;
  --secondary-black: #02050a;
  --text-color: #ffffff;
  --sub-text-color: #e6e8eb;
  --highlight-color: #1e90ff;
  --headings-font: "Montserrat", sans-serif;
  --general-font: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--general-font);
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--primary-blue);
  color: var(--text-color);
}

.app-container {
  width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 3rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.header-img-div {
  display: flex;
  align-items: end;
}

.cartoon-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid var(--secondary-black);
}

.active-dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--highlight-color);
  position: relative;
  right: 1.5rem;
  bottom: 0.5rem;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro-text p:first-of-type {
  font-family: var(--headings-font);
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

.intro-text p:nth-of-type(2) {
  font-size: 25px;
  font-weight: 600;
}

.intro-text p:last-of-type {
  font-size: 17px;
  font-weight: 400;
  color: var(--sub-text-color);
}

.intro-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.intro-btn {
  font-size: 15px;
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
}

.about-section > p {
  font-size: var(--headings-font);
  font-size: 25px;
  font-weight: 600;
  align-self: start;
}

.bio-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bio {
  width: 95%;
  background: var(--primary-black);
  padding: 2rem 1rem;
  border-radius: 1rem;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
  color: var(--sub-text-color);
}

.bio:hover {
  color: var(--text-color);
}

.bio span {
  font-size: 16px;
  font-weight: 500;
}

.bio-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: solid 3px var(--highlight-color);
  box-shadow: 0 0 0.5rem var(--highlight-color);
}

.skill-section {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.skill-section > p {
  align-self: start;
  font-size: var(--headings-font);
  font-size: 25px;
  font-weight: 600;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: var(--primary-black);
}

.icon-box {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 30px;
  background: var(--secondary-black);
}

.htmlIcon {
  color: #e34f26;
}

.cssIcon {
  color: #1572b6;
}

.jsIcon {
  color: #f7df1e;
}

.reactIcon {
  color: #61dafb;
}

.tailwindIcon {
  fill: #06b6d4;
}

.tailwindIcon svg {
  width: 30px;
}

.gitIcon {
  color: #f05032;
}

.project-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
}

.project-section > p {
  align-self: start;
  font-size: var(--headings-font);
  font-size: 25px;
  font-weight: 600;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(1, 90%);
  gap: 2rem;
  justify-content: center;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: var(--primary-black);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}

.project-img-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-black);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.project-img-container img {
  width: inherit;
  border-radius: 0.5rem;
  image-rendering: high-quality;
  object-fit: cover;
}

.project-name {
  align-self: start;
  font-size: 20px;
  font-family: var(--headings-font);
  font-weight: 600;
}

.project-description {
  color: var(--sub-text-color);
  font-size: 15px;
}

.view-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: start;
}

.view-btn:hover {
  border: solid 1px var(--highlight-color) !important;
  gap: 1rem;
}
