@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-blue: #040c24;
  --secondary-blue: #04040c;
  --text-color: #ffffff;
  --highlight-color: #1e90ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: var(--primary-blue);
  color: var(--text-color);
}
